body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 10px;
}

h1 {
    text-align: center;
    color: red;
    text-decoration: underline;
}

p { 
    text-align: center,justify;
    color: whitesmoke;
    margin: 15px 50px 30px 50px;
    letter-spacing: 1.5px;
    word-spacing: 4px;
}

article {
    box-sizing: border-box;
}

.cajafotografia {
    box-sizing: border-box;
    width: 350px;
    height: 350px;
    margin: 20px 8px 5px 8px;
}

#empujearriba {
    box-sizing: border-box;
    width: 350px;
    height: 350px;
    margin: 20px 8px 5px 22%;
}

#empujeabajo {
    box-sizing: border-box;
    width: 350px;
    height: 350px;
    margin: 20px 8px 5px 32%;
}

